@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <form asp-controller="Home" asp-action="DownloadVideo" method="post">
        @Html.TextBox("videoUrl", "", new { placeholder = "Enter URL here.", @class = "form-control"})
        <br />
        <button id="btnDownload" type="submit" class="btn btn-danger btn-block">Download <i class="fas fa-download"></i></button>
        
        <div style="display:inline-block; margin-top: 20px;">
            <div id="spiner" class="spinner-border text-danger" style="display: inline-block;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </form>
</div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $("#spiner").hide();

        $("#btnDownload").click(function () {

            $("#spiner").show();
        });
    });
</script>
}


