@{
    ViewData["Title"] = "Home Page";
}


<!-- Input and Submit elements -->
<div class="row">

    <form asp-controller="Home" asp-action="DownloadVideo" method="post">
        @Html.TextBox("videoUrl", "", new { placeholder = "Enter URL here.", @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-danger btn-block">Download <i class="fas fa-download"></i></button>

    </form>
</div>



