
@{
    ViewData["Title"] = "Index";
}

<h4>Upload Video</h4>
<br />
<br />


<div class="input-group">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <div class="input-group-append">
        <button class="btn btn-danger" type="button" id="inputGroupFileAddon04">Upload</button>
    </div>
</div>


@section Scripts{ 
    <script>
        $('#inputGroupFile04').on('change', function () {
            //get the file name
            var fileName = document.getElementById("inputGroupFile04").files[0].name;
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

}